@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center mt-5 px-3">
    <h1 class="fw-bold display-4 mb-4">Soluções Integradas de Segurança e Safety</h1>

    <p class="lead">
        A SegurPro é o próximo passo em segurança patrimonial, física e lógica.
    </p>

    <p>
        Uma empresa que conta com equipes de alto nível aliadas à tecnologia de ponta e que já nasceu com a expertise de 40 anos de experiência herdada do Grupo Prosegur.
        Somos mais que uma empresa de segurança, queremos entender as inquietudes de nossos clientes e buscar soluções customizadas para garantir maior efetividade nos serviços que prestamos.
        Na SegurPro oferecemos as mais modernas e inovadoras soluções de segurança do mercado, dotadas de alta tecnologia e desenvolvidas para apoiar de pequenas a grandes empresas do país.
    </p>
</div>
